<dialog class="photo-dialog" id="photo-dialog" aria-labelledby="photo-dialog-title" data-controller="media-dialog">
  <button class="photo-dialog-close" type="button" data-photo-close aria-label="Close photo viewer">×</button>
  <figure>
    <img id="photo-dialog-image" src="" alt="">
    <figcaption id="photo-dialog-title"></figcaption>
  </figure>
</dialog>
